// Using Roboto font-family for whole application
Page {
  font-family: "Roboto", "Roboto-Regular";
  font-weight: 400;
}

.text-light {
  font-family: "Roboto", "Roboto-Light";
  font-weight: 300;
}

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

ActionBar {
  background-color: $c-primary;
  color: $c-white;
}

.quote-card {
  padding: 10 10 0 10;
  background-color: $c-white;

  .quote-body {
    font-size: 16;
    padding: 0 0 10 0;
  }

  .quote-author {
    font-size: 14;
    padding: 0 0 10 0;
  }

  .actions-container {
    .mdi {
      width: 40;
      height: 40;
      font-size: 18;
      background-color: transparent;
      color: $accent;
    }
  }
}

.action-bar-icon {
  font-size: 24;
}

// overriding nativescript theme styles
.list-group {
  .list-group-item {
    background-color: $c-white;

    .list-group-item-text {
      color: $c-grey-800;
    }
  }
}
