<ActionBar title="All Quotes">
  <NavigationButton
    text="Menu"
    (tap)="toggleSideDrawer()"
    android.systemIcon="ic_menu_back">
  </NavigationButton>
</ActionBar>

<RadSideDrawer>
  <StackLayout tkDrawerContent>
    <StackLayout>
      <Label text="Navigation Menu"></Label>
    </StackLayout>
    <StackLayout>
      <Button text="Quotes" (tap)="navigateTo(['/quotes'])"></Button>
      <Button text="Authors" (tap)="navigateTo(['/authors'])"></Button>
      <Button text="Categories" (tap)="navigateTo(['/categories'])"></Button>
      <Button text="My Favourites"></Button>
      <Button text="My Quotes"></Button>
    </StackLayout>
  </StackLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
    <!--<router-outlet></router-outlet>-->
  </StackLayout>
</RadSideDrawer>
