<div
    class="mdl-grid my-quotes-component"
    [class.small-screen]="isSmallScreen">
  <div class="my-quotes-list mdl-cell mdl-cell--8-col">
    <div
        class="quote-card"
        *ngFor="let quote of cvm.quotes$ | async">
      <div class="quote-body">{{quote.body}}</div>
      <div class="quote-author">{{"- "+quote.authorName}}</div>
      <div class="actions-container">
        <span class="form-actions">
          <button
              mdl-button
              mdl-button-type="icon"
              (click)="editQuote(quote)"
              mdl-colored="accent">
            <mdl-icon>mode_edit</mdl-icon>
          </button>
          <button
              mdl-button
              mdl-button-type="icon"
              (click)="deleteQuote(quote)"
              mdl-colored="accent">
            <mdl-icon>delete</mdl-icon>
          </button>
        </span>
      </div>
    </div>

    <div *ngIf="cvm.lstQuotes.length === 0">
      No quotes are added.
    </div>
  </div>
  <div class="quote-form-container mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <new-quote
        *ngIf="!isSmallScreen"
        [quote]="quoteToEdit"
        (quoteSave)="onSave($event)"
        (formReset)="onCancel()">
    </new-quote>
  </div>

  <div
      class="fab-button-container"
      *ngIf="isSmallScreen">
     <button
          (click)="showQuoteDialogForSmallScreen()"
          mdl-button
          mdl-button-type="fab"
          mdl-colored="accent"
          mdl-ripple>
        <mdl-icon>add</mdl-icon>
    </button>
  </div>

  <mdl-dialog
      *ngIf="isSmallScreen"
      [mdl-modal]="true">
    <new-quote
        [quote]="quoteToEdit"
        (quoteSave)="onSave($event)"
        (formReset)="onCancel()">
    </new-quote>
  </mdl-dialog>
</div>
