.my-quotes-component{
  height: calc(100% - 16px);
  padding: 0;

  .my-quotes-list {
    height: 100%;
    overflow: auto;
    margin-left: 0;
  }

  .quote-form-container {
    margin-right: 0;
  }

  .actions-container {
    height: 30px;

    .form-actions{
      float: right;
    }
  }
}

