nativescript/hooks
nativescript/node_modules
nativescript/platforms
nativescript/**/*.js.map
nativescript/app/**/*.js
nativescript/app/**/*.css
nativescript/app/x-shared
nativescript/lib
nativescript/app/theme-core-scss
nativescript/app/core.dark.android.scss
nativescript/app/core.dark.ios.scss
nativescript/app/core.light.android.scss
nativescript/app/core.light.ios.scss
nativescript/app/_bootstrap-map.scss
nativescript/app/app.css
node_modules
x-shared/**/*.js.map
x-shared/app/**/*.js
typings
web/node_modules
web/src/x-shared
web/dist
