<ActionBar [title]="cvm.dataModel.id ? 'Edit Quote' : 'New Quote'">
  <ActionItem
      (tap)="save(cvm.dataModel)"
      ios.position="right">
    <Button
        class="mdi action-bar-icon borderless-btn"
        [text]="'mdi-save' | fonticon">
    </Button>
  </ActionItem>
  <NavigationButton
      text="Back"
      icon="res://ic_arrow_back_white"
      (tap)="goBack()">
  </NavigationButton>
</ActionBar>

<StackLayout class="form">

  <StackLayout
      class="input-field"
      [class.error]="cvm.validationErrors.body">
    <Label
        class="label font-weight-bold m-b-5"
        text="Quote Body">
    </Label>
    <TextView
        #body
        class="input quote-body-input"
        name="body"
        [(ngModel)]="cvm.dataModel.body"
        editable="true"
        autocorrect="false"
        returnKeyType="Next"
        autocapitalizationType="sentences">
    </TextView>
    <StackLayout class="hr-light"></StackLayout>
    <Label
        class="error-msg text-danger"
        [visibility]="cvm.validationErrors.body ? 'visible' : 'collapsed'"
        [text]="cvm.validationErrors.body">
    </Label>
  </StackLayout>

  <StackLayout
      class="input-field"
      [class.error]="cvm.validationErrors.authorName">
    <Label
        class="label font-weight-bold m-b-5"
        text="Author Name">
    </Label>
    <TextField
        #authorName
        class="input"
        name="authorName"
        [(ngModel)]="cvm.dataModel.authorName"
        returnKeyType="Done"
        autocorrect="false">
    </TextField>
    <StackLayout class="hr-light"></StackLayout>
    <Label
        class="error-msg text-danger"
        [visibility]="cvm.validationErrors.authorName ? 'visible' : 'collapsed'"
        [text]="cvm.validationErrors.authorName">
    </Label>
  </StackLayout>

</StackLayout>
