@import "variables";

.quote-body-input {
  height: 200;
}


.form {
  padding: 10;

  .input-field {
    padding-bottom: 10;

    .label {
      color: $c-primary;
    }

    .error-msg {
      font-size: 12;
      color: $c-danger;
    }

    &.error {
      .label {
        color: $c-danger;
      }

      .hr-light {
        background-color: $c-danger;
      }
    }
  }
}
