<ActionBar title="My Quotes">
  <ActionItem
      *ngIf="!isAndroid"
      (tap)="createQuote()"
      ios.position="right">
    <Button
        class="mdi action-bar-icon borderless-btn"
        [text]="'mdi-add' | fonticon"></Button>
  </ActionItem>
</ActionBar>

<GridLayout>
  <ngxp-side-drawer>
    <GridLayout>
      <ListView
          [items]="cvm.quotes$ | async"
          (itemLoading)="onItemLoading($event)"
          separatorColor="transparent">
        <ng-template let-item="item">
          <StackLayout>
            <CardView
                margin="10"
                elevation="10">
              <StackLayout class="quote-card">
                <Label
                    class="quote-body"
                    [text]="item.body"
                    textWrap="true">
                </Label>
                <Label
                    class="quote-author text-light"
                    [text]="'- '+item.authorName"
                    textWrap="true">
                </Label>
                <StackLayout class="hr-light"></StackLayout>
                <StackLayout
                    class="actions-container"
                    orientation="horizontal">
                  <Button
                      class="mdi borderless-btn"
                      [text]="'mdi-mode-edit' | fonticon"
                      (tap)="editQuote(item)">
                  </Button>
                  <Button
                      class="mdi borderless-btn"
                      [text]="'mdi-delete' | fonticon"
                      (tap)="deleteQuote(item)">
                  </Button>
                </StackLayout>
              </StackLayout>
            </CardView>
          </StackLayout>
        </ng-template>
      </ListView>
      <Fab
          *ngIf="isAndroid"
          icon="res://ic_add_white"
          class="fab-button"
          (tap)="createQuote()">
      </Fab>
    </GridLayout>
  </ngxp-side-drawer>
</GridLayout>
