<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18201924065-fskp2u3dkp0fhml9ou01npsmu6labbof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18201924065-fskp2u3dkp0fhml9ou01npsmu6labbof</string>
	<key>API_KEY</key>
	<string>00000000000000000000000000000000000000</string>
	<key>GCM_SENDER_ID</key>
	<string>00000000000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ngxp.quotesapp</string>
	<key>PROJECT_ID</key>
	<string>ngxp-quotes-app-a975f</string>
	<key>STORAGE_BUCKET</key>
	<string>ngxp-quotes-app-a975f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:18201924065:ios:a9782e5eecfd3d7f</string>
	<key>DATABASE_URL</key>
	<string>https://ngxp-quotes-app-a975f.firebaseio.com</string>
</dict>
</plist>
