<div class="new-quote-component">
  <h6 class="title">
    {{vm.dataModel.id ? 'Edit Quote' : 'Create New Quote'}}
  </h6>
  <form
      *ngIf="isActive"
      #form="ngForm"
      (ngSubmit)="save(vm.dataModel)"
      novalidate>
    <div>
      <mdl-textfield
          label="Quote Body"
          #body="ngModel"
          name="body"
          rows="5"
          [(ngModel)]="vm.dataModel.body"
          [class.is-invalid]="body.invalid && body.dirty"
          [error-msg]="vm.validationMsg.body"
          required
          floating-label>
      </mdl-textfield>
    </div>

    <div>
       <mdl-textfield
          label="Author Name"
          #authorName="ngModel"
          name="authorName"
          type="text"
          [(ngModel)]="vm.dataModel.authorName"
          [class.is-invalid]="authorName.invalid && authorName.dirty"
          [error-msg]="vm.validationMsg.authorName"
          floating-label
          required>
      </mdl-textfield>
    </div>
    <div class="btn-container">
      <button
          mdl-button
          mdl-ripple
          mdl-button-type="raised"
          mdl-colored="accent"
          [disabled]="!form.valid">
        {{vm.dataModel.id ? 'Save' : 'Create'}}
      </button>
      <button
          mdl-button
          mdl-ripple
          mdl-colored
          mdl-button-type="raised"
          type="button"
          (click)="resetForm()">Cancel
      </button>
    </div>
  </form>
</div>
