<GridLayout class="quotes-list-container">
  <ListView
      [items]="cvm.quotes$ | async"
      (loadMoreItems)="onLoadMoreItemsRequested($event)"
      (itemLoading)="onItemLoading($event)"
      separatorColor="transparent"
      >
    <template
        let-item="item"
        let-i="index">
      <StackLayout class="quote-card-container" #quoteCardContainer>
        <CardView
            margin="10"
            elevation="10"
            shadowOpacity="0.2">
          <StackLayout class="quote-card">
              <Label
                class="quote-body"
                [text]="item.body"
                textWrap="true"></Label>
              <Label
                  class="quote-author text-light"
                  *ngIf="quotesBy !== 'author'"
                  [text]="'- '+item.authorName">
              </Label>
              <StackLayout class="hr-light"></StackLayout>
              <StackLayout
                  class="actions-container"
                  orientation="horizontal">
                <Button
                    class="mdi borderless-btn"
                    [text]="(item.isFavourite ? 'mdi-favorite' : 'mdi-favorite-border') | fonticon"
                    (tap)="toggleFav(quoteCardContainer, item, quotesBy)">
                </Button>
                <Button
                    class="mdi borderless-btn"
                    [text]="'mdi-share' | fonticon"
                    (tap)="shareQuote(item)">
                </Button>
              </StackLayout>
          </StackLayout>
        </CardView>
        <ActivityIndicator
          #activityIndicator
          class="activity-indicator"
          *ngIf="i === cvm.lstQuotes.length -1 && i !== cvm.pagination.count -1 && quotesBy === 'all'"
          [busy]="i === cvm.lstQuotes.length -1">
        </ActivityIndicator>
      </StackLayout>
    </template>
  </ListView>
  <ActivityIndicator
      class="activity-indicator"
      [visibility]="!cvm.lstQuotes.length ? 'visible' : 'collapsed'"
      [busy]="!cvm.lstQuotes.length && quotesBy !== 'favourites'">
    </ActivityIndicator>
</GridLayout>
