$gray-dark:                 #252830;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #1ca8dd;
$brand-success:             #27c46d;
$brand-info:                #52c3d3;
$brand-warning:             #ff9966;
$brand-danger:              #cf3257;
$brand-inverse:             $gray-dark;
