<RadSideDrawer [transition]="drawerTransition">
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <StackLayout class="sidedrawer-header">
      <Image
          class="sidedrawer-header-image"
          src="res://logo">
      </Image>
      <Label
          class="sidedrawer-header-brand"
          text="NGXP Quotes App">
      </Label>
    </StackLayout>
    <StackLayout class="sidedrawer-content">
      <GridLayout
          class="sidedrawer-list-item"
          *ngFor="let nav of navMenu">
        <Button
            class="sidedrawer-list-item-text borderless-btn"
            [text]="nav.name"
            (tap)="navigateTo(nav.commands)">
        </Button>
      </GridLayout>
    </StackLayout>
  </StackLayout>
  <StackLayout tkMainContent [visibility]="isContentVisible ? 'visible' : 'collapsed'">
    <ng-content></ng-content>
  </StackLayout>
</RadSideDrawer>
