@import "color-palletes";

// Color Variables
$color-primary: "40, 116, 240";//69, 83, 153";
$color-secondary: "109, 164, 255";//121, 146, 199";
$color-accent: "255, 193, 13";//69, 195, 171";
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
