// Color Variables

// theme colors
$c-primary: #2874f0;
$c-secondary: #6da4ff;
$c-accent: #F44336;
$c-danger: #d50000 !default;

// common colors
$c-white: #fff;
$c-black: #000;
$c-dark-contrast: $c-white;
$c-light-contrast: $c-black;

// blue grey palette
$c-blue-grey-50: #ECEFF1;

// grey palette
$c-grey-200: #EEEEEE;
$c-grey-300: #E0E0E0;
$c-grey-400: #BDBDBD;
$c-grey-500: #9E9E9E;
$c-grey-800: #424242;

// As our primary and accent colors are dark, using dark-contrast colors.
$c-primary-contrast: $c-dark-contrast;
$c-accent-contrast: $c-dark-contrast;
