<div class="quotes-list">
  <div class="pagination-container" *ngIf="quotesBy === 'all'">
    <button
        [disabled]="vm.isBackPaginationDisabled()"
        (click)="vm.loadFirstPage()">
      <<
    </button>
    <button
        [disabled]="vm.isBackPaginationDisabled()"
        (click)="vm.loadPreviousPage()">
      <
    </button>
    <button
        [disabled]="vm.isForwardPaginationDisabled()"
        (click)="vm.loadNextPage()">
      >
    </button>
    <button
        [disabled]="vm.isForwardPaginationDisabled()"
        (click)="vm.loadLastPage()">
      >>
    </button>
  </div>
  <div class="list-item" *ngFor="let quote of vm.quotes$ | async">
    <div>{{quote.body}}</div>
    <div *ngIf="quotesBy !== 'author'">{{quote.authorName}}</div>
  </div>
</div>
