<div class="quotes-list-component">
  <div
      class="quotes-list-section"
      [class.list-with-pagination]="quotesBy === 'all'">
    <div class="quotes-list">
      <div
          #quoteCard
          class="quote-card list-item"
          *ngFor="let quote of cvm.quotes$ | async">
        <div class="quote-body">{{quote.body}}</div>
        <div
            class="quote-author"
            *ngIf="quotesBy !== 'author'">{{"- "+quote.authorName}}
        </div>
        <div class="actions-container">
          <button
              mdl-button
              mdl-button-type="icon"
              class="fav-button"
              (click)="toggleFav(quoteCard, quote, quotesBy)"
              mdl-colored="accent">
            <mdl-icon>{{quote.isFavourite ? 'favorite' :'favorite_border'}}</mdl-icon>
          </button>
        </div>
      </div>
    </div>

    <div
        class="spinner-container"
        [hidden]="cvm.lstQuotes.length || quotesBy === 'favourites'">
      <mdl-spinner single-color active></mdl-spinner>
    </div>
  </div>

  <div
      class="pagination-container"
      *ngIf="quotesBy === 'all'"
      [class.invisible]="!cvm.pagination.count">
    <button
        mdl-button
        mdl-button-type="icon"
        mdl-colored="primary"
        [disabled]="isBackPaginationDisabled()"
        (click)="loadFirstPage()">
      <mdl-icon>first_page</mdl-icon>
    </button>
    <button
        mdl-button
        mdl-button-type="icon"
        mdl-colored="primary"
        [disabled]="isBackPaginationDisabled()"
        (click)="loadPreviousPage()">
      <mdl-icon>navigate_before</mdl-icon>
    </button>
    <label>{{getPaginationString()}}</label>
    <button
        mdl-button
        mdl-button-type="icon"
        mdl-colored="primary"
        [disabled]="isForwardPaginationDisabled()"
        (click)="loadNextPage()">
      <mdl-icon>navigate_next</mdl-icon>
    </button>
    <button
        mdl-button
        mdl-button-type="icon"
        mdl-colored="primary"
        [disabled]="isForwardPaginationDisabled()"
        (click)="loadLastPage()">
      <mdl-icon>last_page</mdl-icon>
    </button>
  </div>
</div>
