@import "../scss/variables";

.mdl-navigation__link {
  cursor: pointer;
}

.content-container {
  padding: 15px;
  background-color: $background-color;
}

mdl-layout-content, quotes {
  height: 100%;
  display: block;
}

@media (max-width: 480px) {
  .content-container {
    padding: 5px 5px 0 5px;
  }
}

.drawer-header {
  padding: 25px 20px;
  background-color: $c-accent;;

  .drawer-header-image-container {
    padding-bottom: 15px;
  }

  .mdl-layout-title {
    color: $c-white;
  }
}
