<mdl-layout
    mdl-layout-fixed-header
    mdl-layout-fixed-drawer
    #mdlLayout="mdlLayout">
  <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>{{title}}</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
      </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
      <mdl-layout-title>Quotes App</mdl-layout-title>
      <nav class="mdl-navigation">
        <a  *ngFor="let link of navMenu"
            class="mdl-navigation__link"
            [routerLink]="link.commands"
            (click)="mdlLayout.closeDrawer()">
          {{link.name}}
        </a>
      </nav>
  </mdl-layout-drawer>
  <mdl-layout-content class="content-container">
      <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
<!--<dialog-outlet></dialog-outlet>-->
