<div class="quotes-list">
  <GridLayout>
    <ListView
        [items]="vm.quotes$ | async"
        (loadMoreItems)="vm.onLoadMoreItemsRequested($event)">
      <template
          let-item="item"
          let-i="index">
        <StackLayout style="width: 100%;">
          <Label [text]="item.body" textWrap="true"></Label>
          <Label
              *ngIf="quotesBy !== 'author'"
              [text]="item.authorName">
          </Label>
          <ActivityIndicator
            #activityIndicator
            *ngIf="i === vm.lstQuotes.length -1 && i !== vm.pagination.count -1 && quotesBy === 'all'"
            [busy]="i === vm.lstQuotes.length -1"
            width="50"
            height="50">
          </ActivityIndicator>
        </StackLayout>
      </template>
    </ListView>
  </GridLayout>
