<div class="quotes-container">
  <div
      class="quotes-by-container"
      *ngIf="quotesBy !== 'all' && quotesBy !== 'favourites'">
    <authors-list
        *ngIf="quotesBy === 'author'"
        [selectedAuthorId]="authorId"
        (authorSelect)="onAuthorSelect($event)">
    </authors-list>
    <categories-list
        *ngIf="quotesBy === 'category'"
        [selectedCategoryId]="categoryId"
        (categorySelect)="onCategorySelect($event)">
    </categories-list>
  </div>
  <div class="quotes-list-container">
    <quotes-list
        [quotesBy]="quotesBy"
        [authorId]="authorId"
        [categoryId]="categoryId">
    </quotes-list>
  </div>
</div>
